<ion-header>
  <ion-toolbar>
    <ion-title>Hotelaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide>
    <h1>titulo 1</h1>
    <p> teste teste teste teste teste tete teste test</p>
    <p> teste teste teste teste teste tete teste test</p>
    <p> teste teste teste teste teste tete teste test</p>
    <p> teste teste teste teste teste tete teste test</p>
    </ion-slide>
 
    <ion-slide>
     <h1>titulo 2</h1>
     <p> teste teste teste teste teste tete teste test</p>
     <p> teste teste teste teste teste tete teste test</p>
     <p> teste teste teste teste teste tete teste test</p>
     <p> teste teste teste teste teste tete teste test</p>
     </ion-slide>
 
     <ion-slide>
       <h1>titulo 3</h1>
       <p> teste teste teste teste teste tete teste test</p>
       <p> teste teste teste teste teste tete teste test</p>
       <p> teste teste teste teste teste tete teste test</p>
       <p> teste teste teste teste teste tete teste test</p>
       </ion-slide>
 
    </ion-slides>
</ion-content>
