<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Hotelaria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/hotel']" routerdirection="forward">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.cb3dc423f38e2a64305697c3e72a4bc5?rik=m1YJWQtxfa%2b8kw&pid=ImgRaw&r=0" />
      </ion-thumbnail>
      <ion-label>Hoteis</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/pousada']" routerdirection="forward">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.0a509480a3909773fb0fbeeffdd9209a?rik=FcMfeXG05MKP6A&pid=ImgRaw&r=0" />
      </ion-thumbnail>
      <ion-label>Pousadas</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/kitnet']" routerdirection="forward">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.9f6d0b3628a2cd981639a3a27c1d868f?rik=PEZLskGrD8S5sg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_385630.png&ehk=CiL3RmLy6%2f2o%2frw9qEaurXjp2kmgsROs%2fIht9XvHGvQ%3d&risl=&pid=ImgRaw&r=0" />
      </ion-thumbnail>
      <ion-label>kit net</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
