<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Restaurantes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ima" [routerLink]="['/sabor-da-terra']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="assets/img/restaurantes/raio_sol/raio_de_sol.jpg" />
        <ion-card-header>
            <ion-card-title>Raio de Sol</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>


    <ion-card class="ima" [routerLink]="['/amazonas-restaurante']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/a1/14/0e/photo0jpg.jpg" />
        <ion-card-header>
            <ion-card-title>Restaurante Amazonas</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

</ion-content>