<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Pusada Tucumã</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="secao1">
        <img class="img1" src="https://p.bookcdn.com/data/Photos/Big/8005/800591/800591973/Pousada-Tucuma-photos-Exterior-Pousada-Tucum.JPEG" alt="">
    </section>
    <h1 class="nomeIgreja"> Pousada Tucumã</h1>
    <section class="icone">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="globe-outline"></ion-icon>
    </section>

    <h1 class="sobre">Sobre</h1>
    <p class="sobreTexto"> A Pousada Tucumã, localizada em Ferreira Gomes no Amapá, oferece conforto, charme, harmonia em ótima localização, e você ainda desfruta de uma linda vista para Rio Araguary.</p>
    <h4>Serviços Oferecidos</h4>
        <ul>
	        <li>Café da manhã grátis</li>
            <li>Estacionamento grátis</li>
            <li>Wi-Fi</li>
            <li>Piscina</li>
            <li>Restaurante</li>
            <li>Bar/Salão</li>
            <li>Tv</li>
        </ul>

    <h1 class="sobre">Fotos</h1>
    <ion-slides>
        <ion-slide>
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/60/57/f1/impressionante.jpg"alt="" />
        </ion-slide>

        <ion-slide>
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/07/15/a3/bd/pousada-tucuma.jpg" alt="">
        </ion-slide>

        <ion-slide>
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/60/57/fd/perfeita.jpg"
                alt="">
        </ion-slide>

    </ion-slides>
    <h1 class="sobre">Funcionamento</h1>
    <table class="tabela">
        <tr>
            <th>seg</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Ter</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qua</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qui</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sáb</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Dom</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>

    </table>
    <h1 class="sobre">Localização</h1>
    <ul class="loc">
        <li>Rua: Manoel Palheta, Nº 593</li>
        <li>Bairro: centro</li>
        <li>cidade: Ferreira Gomes</li>
    </ul>

</ion-content>