<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.8b4f917ca55bc7df0f99f517fa01b17a?rik=SMXP3qWXlb1kZw&pid=ImgRaw&r=0" />
      </ion-thumbnail>
      <ion-label>Açai</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.R-5UJN4cEaqwvDU4Tk8LfwHaE8?pid=ImgDet&rs=1" />
      </ion-thumbnail>
      <ion-label>Hambúrguer</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.YHtjmUczfzQdy_DCno_ehQHaFS?pid=ImgDet&rs=1" />
      </ion-thumbnail>
      <ion-label>Pizza</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/padaria']" routerdirection="forward">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.R-pSzelk9Ekv7T-15KFL2gHaGT?pid=ImgDet&rs=1" />
      </ion-thumbnail>
      <ion-label>Confeitaria</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
