<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Casa & Construção</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ima" [routerLink]="['/sao-miguel']" routerdirection="forward">
        <img alt="Triunfo" src="assets/img/construcao/sao_miguel/sa1.jpg" />
        <ion-card-header>
            <ion-card-title>Casa Construção São Miguel</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>


    <ion-card class="ima" [routerLink]="['/fgconstrucao']" routerdirection="forward">
        <img alt="Triunfo" src="https://tecnologia.systa.com.br/midias/pessoas/20369/20190520174746-catalogo-estadual-servicos-publicitarios--thumb.jpeg" />
        <ion-card-header>
            <ion-card-title>Triunfo Casa Construção</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

    </ion-content>