<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Utilidade Publica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <table class="tab" border="1">
    <tr>
        <th>CENTRO DE SAUDE</th>
    </tr>
    <tr>
        <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
    </tr>
    <tr>
      <td> <b>Tel.: </b> (96) 98400-8141</td>
  </tr>
 </table>

 <table class="tab" border="1">
  <tr>
      <th>Policia Militar</th>
  </tr>
  <tr>
      <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
  </tr>
  <tr>
    <td> <b>Tel.: </b> (96) 98400-8141</td>
</tr>
</table>

<table class="tab" border="1">
  <tr>
      <th>Bombeiro</th>
  </tr>
  <tr>
      <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
  </tr>
  <tr>
    <td> <b>Tel.: </b> (96) 98400-8141</td>
</tr>
</table>

<table class="tab" border="1">
  <tr>
      <th>Conselho Tutelar</th>
  </tr>
  <tr>
      <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
  </tr>
  <tr>
    <td> <b>Tel.: </b> (96) 98400-8141</td>
</tr>
</table>

<table class="tab" border="1">
  <tr>
      <th>Fórum</th>
  </tr>
  <tr>
      <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
  </tr>
  <tr>
    <td> <b>Tel.: </b> (96) 98400-8141</td>
</tr>
</table>

<table class="tab" border="1">
  <tr>
      <th>Secretaria de Saude</th>
  </tr>
  <tr>
      <td> <b> Endereço: </b> Av. Conselheiro Rodrigues Alves, 496</td>
  </tr>
  <tr>
    <td> <b>Tel.: </b> (96) 98400-8141</td>
</tr>
</table>

</ion-content>
