<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Praça Veiga Cabral</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="secao1">
        <img class="img1" src="https://3.bp.blogspot.com/-3rnozl7GWzY/WPAUVaH2vHI/AAAAAAAAGOk/A-ubee1NEq8dl6KvSSxqAzpg6vsQXbXFwCLcB/s1600/_MG_9040.jpg" alt="igreja">
    </section>
    <h1 class="nomeIgreja"> Praça Veiga Cabral</h1>
    <section class="icone">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="globe-outline"></ion-icon>
    </section>

    <h1 class="sobre">Sobre</h1>
    <p class="sobreTexto">A Praça Veiga Cabral foi a primeira Praça de Macapá. Denominada Praça São Sebastião na época colonial, a Praça foi cenário da elevação do Povoado de Macapá à categoria de Vila de São José por Mendonça Furtado, Governador do Grão Pará e Maranhão no
        dia 04 de fevereiro de 1758. A Praça Veiga Cabral está situada no Bairro Central, próximo à Igreja São José, à Biblioteca Pública, ao Teatro das Bacabeiras, ao Museu Joaquim Caetano, ao Complexo Beira Rio e à área do comércio.</p>
    <h1 class="sobre">Fotos</h1>
    <ion-slides>
        <ion-slide>
            <img src="https://3.bp.blogspot.com/-B5cRTkoEFH4/WPAUQqJtjkI/AAAAAAAAGOY/FmeZL_iKQ_UplbohkDHGXg5MyCSvr5hVwCLcB/s640/_MG_9027.jpg" alt="ferreira" />
        </ion-slide>

        <ion-slide>
            <img src="https://3.bp.blogspot.com/-PJqRbPBeQu4/WPAUWmjuyLI/AAAAAAAAGOo/hrA5aImuUkABpOWE74n0KxUozgLUlDwrACLcB/s640/_MG_9046.jpg" alt="">
        </ion-slide>

        <ion-slide>
            <img src="https://1.bp.blogspot.com/-pqXW_cMODp4/WPAUK3Cp5hI/AAAAAAAAGOM/31-2TrfHtOIU_agsf9j7gt548N9Gs2RuACLcB/s640/_MG_9014.jpg" alt="">
        </ion-slide>

    </ion-slides>
    <ion-slide>
        <img src="https://2.bp.blogspot.com/-O_JVMWACa0g/WPAUR8ZiL8I/AAAAAAAAGOc/wAI8xIGJPa4YeOpFKHiMQWKmfYZr9qZEwCLcB/s640/_MG_9034.jpg" alt="">
    </ion-slide>

    </ion-slides>

    <h1 class="sobre">Localização</h1>
    <ul class="loc">
        <li>Rua: Manoel Palheta, Nº 593</li>
        <li>Bairro: centro</li>
        <li>cidade: Ferreira Gomes</li>
    </ul>

</ion-content>