<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button default-href="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Mini Box Kemia Silva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="secao1">
      <img class="img1" src="assets/img/comercio/kemia/ke2.jpg" />
  </section>
  <h1 class="nomeIgreja">Mini Box Kemia Silva</h1>
  <section class="icone">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="globe-outline"></ion-icon>
  </section>

  <h1 class="sobre">Sobre</h1>
  <p class="sobreTexto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos repudiandae placeat pariatur mollitia esse ipsum dolore numquam, adipisci repellat architecto consectetur modi fuga. Blanditiis vero quaerat adipisci consequuntur architecto voluptate?</p>
  <h1 class="sobre">Fotos</h1>
  <ion-slides>
      <ion-slide>
          <img src="assets/img/comercio/kemia/ke2.jpg" />
      </ion-slide>

      <ion-slide>
          <img src="assets/img/comercio/kemia/ke3.jpg" />
      </ion-slide>

      <ion-slide>
          <img src="assets/img/comercio/kemia/ke4.jpg" />
      </ion-slide>

      <ion-slide>
          <img src="assets/img/comercio/kemia/ke5.jpg" />
      </ion-slide>

      <ion-slide>
          <img src="assets/img/comercio/kemia/ke6.jpg" />
      </ion-slide>

      <ion-slide>
          <img src="assets/img/comercio/kemia/ke7.jpg" />
      </ion-slide>

  </ion-slides>
  <h1 class="sobre">Funcionamento</h1>
  <table class="tabela">
      <tr>
          <th>seg</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Ter</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Qua</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Qui</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Sex</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Sáb</th>
          <td>07h300</td>
          <td>21h00</td>
      </tr>
      <tr>
          <th>Dom</th>
          <td>07h30</td>
          <td>21h00</td>
      </tr>

  </table>
  <h1 class="sobre">Localização</h1>
  <ul class="loc">
      <li>Rua: Castelo Branco, Nº 535</li>
      <li>Bairro: centro</li>
      <li>cidade: Ferreira Gomes</li>
  </ul>

</ion-content>
