<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Raio de Sol</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="secao1">
        <img class="img1" src="assets/img/restaurantes/raio_sol/raio_de_sol.jpg" />
    </section>
    <h1 class="nomeIgreja"> Restaurante Raio de Sol</h1>
    <section class="icone">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="globe-outline"></ion-icon>
    </section>

    <h1 class="sobre">Sobre</h1>
    <p class="sobreTexto">O restaurante apresenta em seu cardápio opções de pratos que nos remetem aos almoços de domingo na "casa da vó", como comuda saborosa e farta! Com um cardápio enxuto e uma proposta do campo para a mesa, tentamos sempre entregar o que nossos parceiros locais oferecem de melhor.</p>
    <p class="sobreTexto">Para atender a demada da clientela contamos com a ajuda de colaboradores que residem nos arredores, dando a eles a oportunidade de desemvolvimento pessoal e profissional.</p>
    <p class="sobreTexto">Estamos localizado no principal acesso a cidade bem na entrada, em frente ao correio municipal</p>
    <p class="sobreTexto">Funcionamos de segunda a segnda das 11h30 ás 16h30</p>

    <h1 class="sobre">Fotos</h1>
    <ion-slides>
        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio1.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio2.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio3.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio4.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio5.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio6.jpg"/>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/restaurantes/raio_sol/raio7.jpg"/>
        </ion-slide>

    </ion-slides>
    <h1 class="sobre">Funcionamento</h1>
    <table class="tabela">
        <tr>
            <th>seg</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Ter</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qua</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qui</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sáb</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Dom</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>

    </table>
    <h1 class="sobre">Localização</h1>
    <ul class="loc">
        <li>R. São Jorge</li>
        <li>Bairro: centro</li>
        <li>cidade: Ferreira Gomes - AP</li>
        <li>R. São Jorge, 725-799, Ferreira Gomes - AP, 68915-000</li>

    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.4949673346064!2d-51.18301948868507!3d0.8533050162121908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d61502b47c555a9%3A0x37ba7f0163cc2529!2sRestaurante%20Raio%20De%20Sol!5e0!3m2!1spt-BR!2sbr!4v1673022809747!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>