<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/"></ion-back-button>
        </ion-buttons>
        <ion-title>São Miguel</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="secao1">
        <ion-slides>
            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa1.jpg" />
            </ion-slide>
    
            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa2.jpg" />
            </ion-slide>
    
            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa3.jpg" />
            </ion-slide>

            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa4.jpg" />
            </ion-slide>

            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa5.jpg" />
            </ion-slide>

            <ion-slide>
                <img src="assets/img/construcao/sao_miguel/sa6.jpg" />
            </ion-slide>
    
        </ion-slides>
    </section>
    <h1 class="nomeIgreja"> Casa São Miguel</h1>
    <section class="icone">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="globe-outline"></ion-icon>
    </section>

    <h1 class="sobre">Sobre</h1>
    <p class="sobreTexto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos repudiandae placeat pariatur mollitia esse ipsum dolore numquam, adipisci repellat architecto consectetur modi fuga. Blanditiis vero quaerat adipisci consequuntur architecto voluptate?</p>
    <h1 class="sobre">Fotos</h1>
    <ion-slides>
        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa7.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa8.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa9.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa10.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa11.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa12.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa13.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa14.jpg" />
        </ion-slide>

        <ion-slide>
            <img src="assets/img/construcao/sao_miguel/sa15.jpg" />
        </ion-slide>

    </ion-slides>
    <h1 class="sobre">Funcionamento</h1>
    <table class="tabela">
        <tr>
            <th>seg</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Ter</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qua</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Qui</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Sáb</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>
        <tr>
            <th>Dom</th>
            <td>08h00</td>
            <td>18h00</td>
        </tr>

    </table>
    <h1 class="sobre">Localização</h1>
    <ul class="loc">
        <li>Rua: Tiradentes, Nº 363A</li>
        <li>Bairro: centro</li>
        <li>cidade: Ferreira Gomes</li>
    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.3701935959657!2d-51.183178085733324!3d0.85874766319685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8d6151d614576dd1%3A0xa9414515b3ae9151!2sCASA%20S%C3%83O%20MIGUEL!5e0!3m2!1spt-BR!2sbr!4v1673461561527!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</ion-content>