<ion-header>
  <ion-toolbar>
    <ion-title>Pousada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ima" [routerLink]="['/rio-mar']" routerdirection="forward">
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.1a37a397492781234c95246b0f64b77b?rik=kXFXRYSwxxdUmA&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Pousada Lima</ion-card-title>
      <ion-card-subtitle>Centro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toque para saber mais...
    </ion-card-content>
  </ion-card>

  <ion-card class="ima" [routerLink]="['/lima']" routerdirection="forward">
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.zOL5tjFemnmYEHhosfmB4AHaFj?pid=ImgDet&w=2048&h=1536&rs=1" />
    <ion-card-header>
      <ion-card-title>Pousada VidaBoa</ion-card-title>
      <ion-card-subtitle>Centro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toque para saber mais...
    </ion-card-content>
  </ion-card>

</ion-content>
