<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Pousadas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ima" [routerLink]="['/maresia']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="https://media-cdn.tripadvisor.com/media/photo-s/08/60/57/f1/impressionante.jpg" />
        <ion-card-header>
            <ion-card-title>Pousada Tucumã</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

    <ion-card class="ima" [routerLink]="['/lima']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="assets/img/pousadas/tres_irmaos/te1.jpg" />
        <ion-card-header>
            <ion-card-title>Pousada Três Irmãos</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

</ion-content>