<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="texto">
  <h1>Ferreira Gomes</h1>
  <P>
    Ferreira Gomes é um município do estado do Amapá, Região Norte do país. A população estimada em 2016 era de 7 087 habitantes e a área é de 5047 km², o que resulta numa densidade demográfica de 0,78 hab/km².

Seus limites são Pracuuba e Tartarugalzinho a norte, Cutias a leste, Macapá a sudeste, Porto Grande a sudoeste e Serra do Navio a noroeste.
  </P>
  <h1>História</h1>
  <p>
    O município de Ferreira Gomes foi criado em 17 de dezembro de 1987 (Lei 7.639/87). Dentre os fatores históricos de seu desenvolvimento até sua emancipação político-administrativa, destaca-se a condição estratégica que desempenhou como entreposto rodoviário no antigo traçado da BR-156. Hoje o município é o décimo segundo maior do estado em número de habitantes, ficando atrás do município de Macapá e de outros dez municípios. A principal festa que acontece no município é um carnaval fora de época que se chama Carnaguari, atraindo muitas pessoas do estado e movimentando o comércio.

Seu nome é uma homenagem ao major João Ferreira Gomes, que implantou na região a Colônia Militar Pedro II em 1840, da qual o município foi sede.
  </p>
  <h1>Economia</h1>
  <p>
    Sua economia está baseada no desenvolvimento de atividades agropecuárias tradicionais e, mais recentemente, no investimento ao turismo para o qual vem colocando em prática a realização de eventos e a instalação de infraestrutura destinada ao aproveitamento das ambientações paisagísticas e de lazer do município.

Se destacam economicamente no setor primário a agricultura e a pecuária. Também a criação dos gados bovino e bubalino, além da criação de suínos, constituem a principal atividade econômica do município.
  </p>
</section>

</ion-content>
