<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Supermercados e Mercadinhos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ima" [routerLink]="['/mercantil-ferreirense']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="https://img.freepik.com/fotos-gratis/supermercado-de-borrao-abstrata-e-loja-de-varejo_74190-7546.jpg?w=2000" />
        <ion-card-header>
            <ion-card-title>Mercantil Ferreirense</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>


    <ion-card class="ima" [routerLink]="['/meioa-meio']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="assets/img/comercio/meio/me1.jpg" />
        <ion-card-header>
            <ion-card-title>Comercial Meio a Meio</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

    <ion-card class="ima" [routerLink]="['/kemia-silva']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="assets/img/comercio/kemia/ke1.jpg" />
        <ion-card-header>
            <ion-card-title>Mini Box Kemia Silva</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

</ion-content>