<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Conheça Ferreira Gomes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-accordion-group class="list">
  <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
    <ion-item slot="header" color="light">
      <ion-label>Historico de Ferreira Gomes</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" [routerLink]="['/sobre']" routerdirection="forward">sobre</div>
  </ion-accordion>
  <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
    <ion-item slot="header" color="light">
      <ion-label>Lugares para visitar</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content" [routerLink]="['/igreja']" routerdirection="forward">Igrejas</div>
    <div class="ion-padding" slot="content" [routerLink]="['/praca']" routerdirection="forward">Praças</div>
    <div class="ion-padding" slot="content" [routerLink]="['/orla']" routerdirection="forward">Orla</div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>