<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Praças</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ima" [routerLink]="['/veiga']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="https://3.bp.blogspot.com/-B5cRTkoEFH4/WPAUQqJtjkI/AAAAAAAAGOY/FmeZL_iKQ_UplbohkDHGXg5MyCSvr5hVwCLcB/s640/_MG_9027.jpg" />
        <ion-card-header>
            <ion-card-title>Praça Veiga Cabral</ion-card-title>
            <ion-card-subtitle>centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

    <ion-card class="ima" [routerLink]="['/floriano-peixoto']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="https://2.bp.blogspot.com/-J_lAhxthU7g/WF7hhcKF8FI/AAAAAAAAFjQ/54s6pDlQSXs06XmQ6C4YGZU1esGYAdssQCLcB/s1600/_MG_7832.jpg" />
        <ion-card-header>
            <ion-card-title>Floriano Peixoto</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

    <ion-card class="ima" [routerLink]="['/sao-jose']" routerdirection="forward">
        <img alt="Silhouette of mountains" src="http://4.bp.blogspot.com/-BuyssbDcWvQ/T2ctVCT8eVI/AAAAAAAACv8/EEE_H-v7RYc/s1600/z01+Rog%C3%A9rio+Castelo.jpg" />
        <ion-card-header>
            <ion-card-title>Fortaleza de São José</ion-card-title>
            <ion-card-subtitle>Centro</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Toque para saber mais...
        </ion-card-content>
    </ion-card>

</ion-content>