<ion-header>
  <ion-toolbar>
    <ion-title>praca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ima" [routerLink]="['/igreja-p']" routerdirection="forward">
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.fb4d2c38e86450262067d361c995e440?rik=A6kFLu2SDZqKrg&riu=http%3a%2f%2fs2.glbimg.com%2fKfYXqlVDDgeva-U3M35ouAw83Pc%3d%2f620x465%2fs.glbimg.com%2fjo%2fg1%2ff%2foriginal%2f2016%2f06%2f24%2fveiga_cabral.jpg&ehk=snrOObyVni4Jf9%2bD2aN%2frJBJWDMOxs02kMu%2fgGyqaF4%3d&risl=&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Praça Veiga Cabral</ion-card-title>
      <ion-card-subtitle>centro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toque para saber mais...
    </ion-card-content>
  </ion-card>

  <ion-card class="ima">
    <img alt="Silhouette of mountains" src="https://2.bp.blogspot.com/-J_lAhxthU7g/WF7hhcKF8FI/AAAAAAAAFjQ/54s6pDlQSXs06XmQ6C4YGZU1esGYAdssQCLcB/s1600/_MG_7832.jpg" />
    <ion-card-header>
      <ion-card-title>Floriano Peixoto</ion-card-title>
      <ion-card-subtitle>Centro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toque para saber mais...
    </ion-card-content>
  </ion-card>

  <ion-card class="ima">
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.ww_zqERZVmF_X7_yDqDcvAHaEo?pid=ImgDet&rs=1" />
    <ion-card-header>
      <ion-card-title>Fortaleza de São José</ion-card-title>
      <ion-card-subtitle>Centro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toque para saber mais...
    </ion-card-content>
  </ion-card>

</ion-content>
